.orders{
    background: #002C27;
    @include res('padding-top', 120px);
    @include res('padding-bottom', 120px);
    position: relative;
    z-index: 1;
    @include media(575){
        @include resa('padding-top', 72px);
        @include resa('padding-bottom', 72px);
    }
    &__wrapper{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include media(575){
            flex-direction: column;
        }
    }
    &__left{
        @include res('margin-right', 90px);
    }
    &__title{
        color: #FFF;
        font-family: Geologica;
        @include res('font-size', 56px);
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
        @include res('margin-bottom', 24px);
        @include media(575){
            @include resa('font-size', 32px);
            @include resa('margin-bottom', 56px);
        }
        span{
            font-family: Geologica;
            color: #FFBC8A;
        }
    }
    &__desc{
        color: rgba(255, 255, 255, 0.85);
        @include res('font-size', 24px);
        @include res('line-height', 32px);
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        @include res('max-width', 585px);
        width: 100%;
        @include res('margin-bottom', 24px);
        @include media(575){
            @include resa('font-size', 20px);
            @include resa('margin-bottom', 16px);
            max-width: 100%;
        }
        span{
            font-weight: 700;
        }
    }
    &__p{
        color: rgba(255, 255, 255, 0.85);
        @include res('font-size', 16px);
        @include res('line-height', 24px);
        font-style: normal;
        font-weight: 400;
        @include res('max-width', 516px);
        width: 100%;
        @include res('margin-bottom', 64px);
        position: relative;
        opacity: 0.699999988079071;
        @include media(575){
            @include resa('font-size', 16px);
            line-height: 120%;
            max-width: 100%;
            @include resa('margin-bottom', 123px);
        }
        &::before{
            content: '';
            position: absolute;
            @include res('top', -63px);
            @include res('right', -156px);
            @include res('width', 126px);
            @include res('height', 58px);
            background: url(../img/orders-figure.svg) center / cover no-repeat;
            @include media(575){
                @include resa('bottom', -94px);
                top: auto;
                background: url(../img/orders-figure-sm.svg) center / cover no-repeat;
                @include resa('width', 112px);
                @include resa('height', 84px);
                @include resa('right', 56px);
            }
        }
    }
    &__text{
        color: #FFF;
        @include res('font-size', 24px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @include res('margin-bottom', 16px);
        @include media(575){
            @include resa('font-size', 24px);
            @include resa('margin-bottom', 16px);
        }
        &.disable-sm{
            @include media(575){
                display: none;
            }
        }
        &.enable-sm{
            display: none;
            @include media(575){
                display: block;
            }
        }
    }
    &__phone{
        display: flex;
        align-items: center;
        color: #FFF;
        @include res('font-size', 21px);
        font-style: normal;
        font-weight: 700;
        line-height: 116%;
        @include media(575){
            @include resa('font-size', 16px);
        }
        &.disable-sm{
            @include media(575){
                display: none;
            }
        }
        &.enable-sm{
            display: none;
            @include media(575){
                display: flex;
            }
        }
        svg{
            @include res('margin-right', 16px);
            @include res('width', 56px);
            @include res('height', 56px);
            @include res('min-width', 56px);
            @include media(575){
                @include resa('margin-right', 16px);
                @include resa('width', 56px);
                @include resa('height', 56px);
                @include resa('min-width', 56px);
            }
        }
    }
    &__content{
        @include res('width', 598px);
        @include res('min-width', 598px);
        @include res('border-radius', 16px);
        @include res('padding', 40px);
        background: #FFF;
        flex-direction: column;
        justify-content: space-between;
        @include res('min-height', 654px);
        display: none;
        @include media(575){
            width: 100%;
            min-width: 100%;
            @include resa('padding-top', 40px);
            @include resa('padding-right', 24px);
            @include resa('padding-bottom', 40px);
            @include resa('padding-left', 24px);
            height: auto;
            min-height: auto;
            @include resa('margin-bottom', 56px);
        }
        &#fifthContent{
            justify-content: flex-start;
        }
        &.active{
            display: flex;
        }
    }
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include res('margin-bottom', 41px);
        @include media(575){
            @include resa('margin-bottom', 41px);
        }
    }
    &__subtitle{
        color: #111;
        @include res('font-size', 24px);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @include res('max-width', 332px);
        width: 100%;
        @include media(575){
            @include resa('font-size', 24px);
            @include resa('margin-right', 25px);
            max-width: 100%
        }
    }
    .progress-bar {
        @include res('width', 64px);
        @include res('height', 64px);
        border-radius: 50%;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        @include media(575){
            @include resa('width', 64px);
            @include resa('height', 64px);
        }
    }
    .progress-bar {
        progress{
            display: none;
        }
        &.html{
            background: -o-radial-gradient(closest-side,#fff 79%,transparent 30% 100%),conic-gradient(from 2deg,#AA4B03 0,#AA4B03 calc(var(--progress-value) * 1%),#FFEBDC calc(var(--progress-value) * 1%),#FFEBDC 100%);
            background: radial-gradient(closest-side,#fff 79%,transparent 30% 100%),conic-gradient(from 2deg,#AA4B03 0,#AA4B03 calc(var(--progress-value) * 1%),#FFEBDC calc(var(--progress-value) * 1%),#FFEBDC 100%);
        }
        &::before{
            counter-reset: percentage attr(data-value);
            content: attr(data-value);
            position: absolute;
            text-align: center;
            z-index: 2;
            color: #171616;
            text-align: center;
            @include res('font-size', 16px);
            font-weight: 500;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include media(575){
                @include resa('font-size', 16px);
            }
        }
        &::after{
            content: "";
            position: absolute;
            @include res('top', 6px);
            @include res('left', 6px);
            @include res('right', 6px);
            @include res('bottom', 6px);
            background: #fff;
            z-index: 1;
            border-radius: 50%;
            @include media(575){
                @include resa('top', 6px);
                @include resa('left', 6px);
                @include resa('right', 6px);
                @include resa('bottom', 6px);
            }
        }
    }
    &__items{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-start;
    }
    &__item{
        width: calc(25% - 0.391vw);
        @include media(575){
            width: calc(33.333% - 1.422vw);
        }
        &:not(:nth-of-type(3)), &:not(:nth-of-type(6)), &:not(:last-of-type){
            @include media(575){
                @include resa('margin-right', 6px);
            }
        }
        &:not(:nth-of-type(4)),&:last-of-type{
            @include res('margin-right', 10px);
        }
        &:nth-of-type(3), &:nth-of-type(6){
            @include media(575){
                margin-right: 0;
            }
        }
        &:first-of-type, &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4){
            @include res('margin-bottom', 24px);
        }
        &:not(:last-of-type){
            @include media(575){
                @include resa('margin-bottom', 24px);
            }
        }
        &.active{
            .orders__img{
                border: 0.156vw solid #AA4B03;
                @include media(575){
                    border: 0.533vw solid #AA4B03;
                }
            }
            .orders__name{
                font-weight: 700;
            }
        }
    }
    &__img{
        width: 100%;
        border: 0.052vw solid #CBCBCB;
        @include res('border-radius', 5px);
        line-height: 0;
        @include res('margin-bottom', 20px);
        @include media(575){
            @include resa('margin-bottom', 20px);
            @include resa('border-radius', 5px);
            border: 0.267vw solid #CBCBCB;
        }
        img{
            width: 100%;
            @include res('border-radius', 5px);
            line-height: 0;
            @include media(575){
                @include resa('border-radius', 5px);
            }
        }
    }
    &__name{
        color: #111;
        @include res('font-size', 16px);
        @include res('line-height', 24px);
        font-style: normal;
        font-weight: 400;
        @include media(575){
            @include resa('font-size', 14px);
            line-height: 120%;
        }
    }
    &__buttons{
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        @include media(575){
            flex-direction: column;
            @include resa('margin-top', 32px);
        }
    }
    &__button{
        color: #111;
        @include res('font-size', 16px);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @include res('padding-top', 16px);
        @include res('padding-bottom', 16px);
        @include res('padding-right', 32px);
        @include res('padding-left', 32px);
        @include res('border-radius', 100px);
        border: 0.052vw solid #111;
        @include media(575){
            width: 100%;
            @include resa('padding-top', 16px);
            @include resa('padding-bottom', 16px);
            @include resa('padding-right', 32px);
            @include resa('padding-left', 32px);
            @include resa('font-size', 16px);
            @include resa('border-radius', 100px);
            @include resa('margin-bottom', 16px);
        }
    }
    &__btn{
        @include res('padding-top', 16px);
        @include res('padding-bottom', 16px);
        @include res('padding-right', 32px);
        @include res('padding-left', 32px);
        margin-right: 0;
        margin-left: auto;
        color: #FFF;
        @include res('font-size', 16px);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @include res('border-radius', 100px);
        background: linear-gradient(323deg, #096B61 0%, #1CAB9C 100%);
        @include media(575){
            width: 100%;
            @include resa('padding-top', 16px);
            @include resa('padding-bottom', 16px);
            @include resa('padding-right', 32px);
            @include resa('padding-left', 32px);
            @include resa('font-size', 16px);
            @include resa('border-radius', 100px);
        }
        &.sb{
            @include res('max-width', 260px);
            width: 100%;
            @include media(575){
                max-width: 100%;
            }
        }
    }
    &__checkboxes{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__checkbox{
        display: flex;
        align-items: center;
        &:not(:last-of-type){
            @include res('margin-bottom', 16px);
            @include media(575){
                @include resa('margin-bottom', 16px);
            }
        }
        &-input{
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: 0;
            border: 1px solid white;
            background: #FFFFFF;
            border: 0.052vw solid #B9B9B9;
            @include res('border-radius', 5px);
            @include res('width', 28px);
            @include res('height', 28px);
            @include res('margin-right', 16px);
            transition: 100ms;
            @include res('max-width', 100px);
            @include media(575){
                @include resa('border-radius', 5px);
                @include resa('width', 28px);
                @include resa('min-width', 28px);
                @include resa('height', 28px);
                @include resa('margin-right', 16px);
                transition: 100ms;
            }
            &:checked {
                border: none;
                @include res('border-radius', 5px);
                background: url(../img/orders-tick.svg) center / contain no-repeat;
                @include media(575){
                    @include resa('border-radius', 5px);
                }
            }
            &.sm{
                @include res('width', 24px);
                @include res('height', 24px);
                display: block;
                @include res('border-radius', 5px);
                @include media(575){
                    @include resa('width', 24px);
                    @include resa('height', 24px);
                    @include resa('border-radius', 5px);
                }
                &:checked{
                    @include res('width', 24px);
                    @include res('height', 24px);
                    @include media(575){
                        @include resa('width', 24px);
                        @include resa('height', 24px);
                    }
                }
            }
        }
    }
    &__label{
        color: #000;
        @include res('font-size', 16px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @include media(575){
            @include resa('font-size', 16px);
        }
    }
    &__txt{
        color: #000;
        @include res('font-size', 16px);
        line-height: 120%;
        font-style: normal;
        font-weight: 400;
        @include res('max-width', 296px);
        width: 100%;
        @include res('margin-bottom', 24px);
        @include media(575){
            @include resa('font-size', 16px);
            max-width: 100%;
            @include resa('margin-bottom', 24px);
        }
    }
    &__textarea{
        width: 100%;
        @include res('padding', 24px);
        @include res('height', 184px);
        @include res('font-size', 18px);
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        @include res('border-radius', 3px);
        border: 0.052vw solid #C8C4D2;
        resize: none;
        @include media(575){
            @include resa('border-radius', 3px);
            @include resa('padding', 24px);
            @include resa('height', 184px);
            @include resa('font-size', 18px);
        }
        &::placeholder{
            color: var(--2, #575D68);
            @include res('font-size', 18px);
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
            @include media(575){
                @include resa('font-size', 18px);
            }
        }
    }
    &__form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        &-label{
            color: #111;
            font-family: Manrope;
            @include res('font-size', 14px);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @include media(575){
                @include resa('font-size', 14px);
            }
        }
    }
    &__infos{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &:not(:last-of-type){
            @include res('margin-bottom', 24px);
            @include media(575){
                @include resa('margin-bottom', 24px);
            }
        }
    }
    &__info{
        @include res('padding-left', 16px);
        color: #575D68;
        @include res('font-size', 14px);
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        text-transform: uppercase;
        @include res('margin-bottom', 8px);
        @include media(575){
            @include resa('font-size', 14px);
            @include resa('padding-left', 16px);
            @include resa('margin-bottom', 8px);
        }
    }
    &__input{
        width: 100%;
        @include res('border-radius', 100px);
        border: 0.052vw solid #C8C4D2;
        background: #FFF;
        @include res('padding', 16px);
        color: #111;
        @include res('font-size', 16px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @include media(575){
            @include res('border-radius', 100px);
            border: 0.267vw solid #C8C4D2;
            @include resa('padding', 16px);
            @include resa('font-size', 16px);
        }
        &::placeholder{
            color: var(--2, #575D68);
            @include res('font-size', 16px);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @include media(575){
                @include resa('font-size', 16px);
            }
        }
    }
    &__row{
        display: flex;
        align-items: flex-start;
        @include res('margin-bottom', 40px);
        @include media(575){
            @include resa('margin-bottom', 24px);
        }
    }
}