.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    isolation: isolate;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 300ms ease;
    &.active{
        opacity: 1;
        visibility: visible;
    }
    &__bg{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.3);
    }
    &__body{
        @include res('padding', 51px);
        @include res('border-radius', 8px);
        background: #EDEDED;
        @include res('width', 570px);
        @include media(575){
            @include resa('width', 345px);
            @include resa('padding-top', 45px);
            @include resa('padding-right', 30px);
            @include resa('padding-bottom', 45px);
            @include resa('padding-left', 30px);
            @include resa('border-radius', 8px);
        }
    }
    &__title{
        color: #000;
        @include res('font-size', 22px);
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        text-transform: uppercase;
        @include res('margin-bottom', 24px);
        @include media(575){
            @include resa('font-size', 16px);
            @include resa('margin-bottom', 24px);
        }
    }
    &__item{
        display: flex;
        flex-direction: column;
        @include res('margin-bottom', 24px);
        @include media(575){
            @include resa('margin-bottom', 24px);
        }
        &:last-of-type{
            @include res('margin-bottom', 32px);
            @include media(575){
                @include resa('margin-bottom', 32px);
            }
        }
    }
    &__subtitle{
        @include res('padding-left', 16px);
        color: #111;
        @include res('font-size', 11px);
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        @include res('letter-spacing', 1px);
        text-transform: uppercase;
        @include res('margin-bottom', 4px);
        @include media(575){
            @include resa('padding-left', 16px);
            @include resa('font-size', 11px);
            @include resa('letter-spacing', 1px);
            @include resa('margin-bottom', 4px);
        }
        span{
            @include res('margin-left', 4px);
            @include res('font-size', 14px);
            color: var(--red, #EB5757);
            @include media(575){
                @include resa('margin-left', 4px);
                @include resa('font-size', 14px);
            }
        }
    }
    &__input{
        width: 100%;
        @include res('border-radius', 10px);
        background: #FFF;
        border: none;
        @include res('padding-top', 12px);
        @include res('padding-right', 8px);
        @include res('padding-bottom', 12px);
        @include res('padding-left', 16px);
        color: var(--black-text-body, rgba(45, 45, 45, 0.90));
        @include res('font-size', 16px);
        line-height: 120%;
        font-style: normal;
        font-weight: 400;
        @include media(575){
            @include resa('border-radius', 10px);
            @include resa('padding-top', 12px);
            @include resa('padding-right', 8px);
            @include resa('padding-bottom', 12px);
            @include resa('padding-left', 16px);
            @include resa('font-size', 16px);
        }
        &::placeholder{
            color: var(--2, #575D68);
            @include res('font-size', 16px);
            line-height: 120%;
            font-style: normal;
            font-weight: 400;
            @include media(575){
                @include resa('font-size', 16px);
            }
        }
    }
    &__row{
        display: flex;
        align-items: flex-start;
        width: 100%;
        @include res('margin-bottom', 24px);
        @include media(575){
            @include resa('margin-bottom', 24px);
        }
    }
    &__checkbox{
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        background: transparent;
        border: solid #000;
        @include res('border-width', 1px);
        @include res('border-radius', 2px);
        @include res('width', 18px);
        @include res('min-width', 18px);
        @include res('min-height', 18px);
        @include res('margin-right', 16px);
        @include res('margin-top', 3px);
        transition: 100ms;
        @include res('max-width', 100px);
        @include media(575){
            @include resa('border-width', 1px);
            @include resa('border-radius', 2px);
            @include resa('width', 18px);
            @include resa('min-width', 18px);
            @include resa('height', 18px);
            @include resa('margin-right', 11px);
            @include resa('margin-top', 5px);
            transition: 100ms;
        }
        &:checked {
            border: none;
            background: url(../img/orders-tick.svg) center / contain no-repeat;
        }
    }
    &__label{
        color: #000;
        @include res('font-size', 16px);
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
        @include media(575){
            @include resa('font-size', 16px);
        }
    }
    &__btn{
        @include res('width', 220px);
        @include res('height', 56px);
        border-radius: 10px;
        background: #096B61;
        color: #FFF;
        @include res('font-size', 16px);
        line-height: 120%;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        @include res('padding-top', 16px);
        @include res('padding-right', 32px);
        @include res('padding-bottom', 16px);
        @include res('padding-left', 32px);
        @include media(575){
            width: 100%;
            @include resa('height', 56px);
            @include resa('font-size', 16px);
            @include resa('padding-top', 16px);
            @include resa('padding-right', 32px);
            @include resa('padding-bottom', 16px);
            @include resa('padding-left', 32px);
        }
    }
}