mixin advantages()
    .advantages 
        .advantages__body.container 
            h2.advantages__title #[span Преимущества] наших купольных беседок
            .advantages__content 
                .advantages__item
                    .advantages__img 
                        img(src="@img/advantages-1.png", alt="" draggable="false")
                    p.advantages__subtitle Защита от погодных условий
                    p.advantages__desc Купольные беседки защищают от дождя, солнца и других неблагоприятных погодных условий
                .advantages__item
                    .advantages__img 
                        img(src="@img/advantages-2.png", alt="" draggable="false")
                    p.advantages__subtitle Устойчивость к ветру и снегу
                    p.advantages__desc Благодаря своей форме купольные беседки способны выдерживать сильные ветры и снежные нагрузки
                .advantages__item
                    .advantages__img 
                        img(src="@img/advantages-3.png", alt="" draggable="false")
                    p.advantages__subtitle Увеличение пространства
                    p.advantages__desc Благодаря своей форме купольные беседки создают дополнительное пространство для отдыха и проведения различных мероприятий
                .advantages__item
                    .advantages__img 
                        img(src="@img/advantages-4.png", alt="" draggable="false")
                    p.advantages__subtitle ОТЛИЧНО ВПИСЫВАЕТСЯ В ЛЮБОЙ ЛАНДШАФТНЫЙ ДИЗАЙН
                    p.advantages__desc Уникальный дизайн: купольные беседки имеют необычную форму, которая придает им эстетичный вид и позволяет использовать их в различных целях
                .advantages__item
                    .advantages__img 
                        img(src="@img/advantages-5.png", alt="" draggable="false")
                    p.advantages__subtitle БЫСТРО МОНТИРУЕТСЯ И ЛЕГКО РАЗБИРАЕТСЯ, ПЕРЕНОСИТСЯ
                    p.advantages__desc Простота монтажа: купольные беседки легки в установке и не требуют специальных знаний и навыков
                .advantages__item
                    .advantages__img 
                        img(src="@img/advantages-6.png", alt="" draggable="false")
                    p.advantages__subtitle Экономия энергии
                    p.advantages__desc Благодаря особенностям формы купольных беседок, внутри них создается особый микроклимат, что позволяет экономить энергию на отопление и кондиционирование воздуха