mixin countries()
    .countries 
        .countries__figure
        .countries__body.container 
            .countries__left
                p.countries__title Изготовили более #[span.bold 1200] купольных беседок в #[span.bold 60] #[span регионов] России и #[span.bold 8] #[span стран] СНГ
                p.countries__p Регулярно внедряем новые технологии в производство купольных беседок, а наш персонал постоянно проходит повышение квалификации.
                p.countries__p.bold Более 1000 довольных клиентов по всей России за 5 лет на рынке
                p.countries__p Самая низкая цена на рынке. Оптовые цены с учетом НДС от производителя
                p.countries__p Покупая нашу купольную беседку, вы получаете легкий, мобильный и переносной конструктор, который можно собрать на месте всего за несколько часов. Чтобы избежать ошибок и принять правильное решение при установке беседки, мы рекомендуем обратиться к профессионалам
                p.countries__p Доставим Ваш заказ в любой регион России, страны СНГ и Прибалтики.
            .countries__img 
                img(src="@img/countries-img.png", alt="")