mixin header()
    header.header 
        .header__nav.container  
            a(href="index.html").logo 
                img(src="@img/logo.svg", alt="" draggable="false") 
                | Купольные #[br] Беседки
            .menu
                .menu-btn
            ul.header__list.disable-sm 
                li.header__li 
                    a(href="#projects").header__link Каталог
                li.header__li 
                    a(href="#advantages").header__link Преимущества
                li.header__li 
                    a(href="#reviews").header__link Отзывы
                li.header__li 
                    a(href="#countries").header__link О компании
                li.header__li 
                    a(href="#countries").header__link Контакты 
            .header__content 
                .header__right 
                    .header__wrapper    
                        .header__info 
                            a(href="#!").header__phone
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22 16.9201V19.9201C22.0011 20.1986 21.9441 20.4743 21.8325 20.7294C21.7209 20.9846 21.5573 21.2137 21.3521 21.402C21.1469 21.5902 20.9046 21.7336 20.6407 21.8228C20.3769 21.912 20.0974 21.9452 19.82 21.9201C16.7428 21.5857 13.787 20.5342 11.19 18.8501C8.77382 17.3148 6.72533 15.2663 5.18999 12.8501C3.49997 10.2413 2.44824 7.27109 2.11999 4.1801C2.095 3.90356 2.12787 3.62486 2.21649 3.36172C2.30512 3.09859 2.44756 2.85679 2.63476 2.65172C2.82196 2.44665 3.0498 2.28281 3.30379 2.17062C3.55777 2.05843 3.83233 2.00036 4.10999 2.0001H7.10999C7.5953 1.99532 8.06579 2.16718 8.43376 2.48363C8.80173 2.80008 9.04207 3.23954 9.10999 3.7201C9.23662 4.68016 9.47144 5.62282 9.80999 6.5301C9.94454 6.88802 9.97366 7.27701 9.8939 7.65098C9.81415 8.02494 9.62886 8.36821 9.35999 8.6401L8.08999 9.9101C9.51355 12.4136 11.5864 14.4865 14.09 15.9101L15.36 14.6401C15.6319 14.3712 15.9751 14.1859 16.3491 14.1062C16.7231 14.0264 17.1121 14.0556 17.47 14.1901C18.3773 14.5286 19.3199 14.7635 20.28 14.8901C20.7658 14.9586 21.2094 15.2033 21.5265 15.5776C21.8437 15.9519 22.0122 16.4297 22 16.9201Z" fill="#FF4F12"/>
                                </svg> 
                                | +7 (993) 370-44-00
                            p.header__current.active 
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle opacity="0.2" cx="9" cy="9" r="9" fill="#00FF00"/>
                                    <circle cx="9" cy="9" r="4" fill="#00FF00"/>
                                </svg>
                                | Сейчас на связи
                        .header__medias 
                            a(href="https://whatsapp.com").header__media 
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_102_1434)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.1734 1.78916C9.0643 0.678767 7.58931 0.0670648 6.01791 0.0664062C2.78 0.0664062 0.144834 2.70144 0.143516 5.94027C0.143121 6.97558 0.41354 7.98613 0.927638 8.87707L0.0942535 11.9211L3.20835 11.1042C4.06636 11.5722 5.03239 11.8189 6.01554 11.8191H6.01791C6.01778 11.8191 6.01804 11.8191 6.01791 11.8191C9.25542 11.8191 11.8909 9.18385 11.8922 5.94488C11.8928 4.37532 11.2824 2.89955 10.1734 1.78916ZM3.63235 6.15405C3.55898 6.05605 3.03303 5.35821 3.03303 4.63573C3.03303 3.91325 3.41225 3.55814 3.54673 3.41127C3.68122 3.26441 3.84033 3.22766 3.9382 3.22766C4.03607 3.22766 4.13407 3.22858 4.21955 3.23279C4.30965 3.2374 4.4307 3.19855 4.54977 3.48477C4.67214 3.77864 4.96561 4.50125 5.00236 4.57461C5.03911 4.64811 5.06347 4.73373 5.01461 4.83173C4.96574 4.92959 4.94124 4.99084 4.86787 5.07659C4.7945 5.16234 4.71376 5.26798 4.64764 5.33371C4.57414 5.40694 4.49761 5.48637 4.58323 5.63324C4.66884 5.78023 4.96337 6.26088 5.39975 6.65011C5.96035 7.15024 6.43335 7.30514 6.58008 7.37864C6.72682 7.45214 6.81244 7.43989 6.89805 7.34189C6.98367 7.24389 7.26502 6.91328 7.36289 6.76641C7.46075 6.61955 7.55862 6.64405 7.69311 6.69291C7.82772 6.74191 8.54928 7.09703 8.69601 7.17039C8.84275 7.24389 8.94061 7.28064 8.97736 7.34189C9.01411 7.40314 9.01411 7.69701 8.89175 8.03987C8.76938 8.38273 8.18297 8.6957 7.90096 8.73772C7.64806 8.77552 7.32811 8.79133 6.97643 8.6795C6.7633 8.61193 6.48986 8.52157 6.13962 8.37035C4.6674 7.73455 3.70585 6.25205 3.63235 6.15405Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_102_1434">
                                    <rect width="12" height="12" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg> 
                                | Whatsapp
                            p.header__p или 
                            a(href="#!" data-target="callback").header__a.open-popup Заказать звонок
                    .header__socials 
                        a(href="https://telegram.com").header__social 
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="36" height="36" rx="18" fill="#111111"/>
                                <path d="M26.8403 12.2802L23.8863 25.5383C23.6685 26.4784 23.0806 26.7065 22.2605 26.2641L17.7605 23.1051L15.5903 25.0959C15.3508 25.324 15.1476 25.5175 14.6831 25.5175L15.0024 21.1558L23.3419 13.9807C23.7048 13.6765 23.2621 13.5037 22.7831 13.8079L12.4766 19.9876L8.03467 18.6673C7.06934 18.377 7.04757 17.748 8.23789 17.3056L25.5919 10.9323C26.3976 10.6558 27.1016 11.1189 26.8403 12.2802Z" fill="white"/>
                            </svg>
                        a(href="https://vk.com").header__social 
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="36" height="36" rx="18" fill="#111111"/>
                                <path d="M24.6456 20.2155C24.6456 20.2155 26.1738 21.7239 26.55 22.4241C26.5608 22.4385 26.5662 22.4529 26.5698 22.4601C26.7228 22.7175 26.7588 22.9173 26.6832 23.0667C26.5572 23.3151 26.1252 23.4375 25.9776 23.4483H23.2776C23.0904 23.4483 22.698 23.3997 22.2228 23.0721C21.8574 22.8165 21.4974 22.3971 21.1464 21.9885C20.6226 21.3801 20.169 20.8545 19.7118 20.8545C19.6537 20.8544 19.596 20.8635 19.5408 20.8815C19.1952 20.9931 18.7524 21.4863 18.7524 22.8003C18.7524 23.2107 18.4284 23.4465 18.1998 23.4465H16.9632C16.542 23.4465 14.3478 23.2989 12.4038 21.2487C10.0242 18.7377 7.8822 13.7013 7.8642 13.6545C7.7292 13.3287 8.0082 13.1541 8.3124 13.1541H11.0394C11.403 13.1541 11.5218 13.3755 11.6046 13.5717C11.7018 13.8003 12.0582 14.7093 12.6432 15.7317C13.5918 17.3985 14.1732 18.0753 14.6394 18.0753C14.7268 18.0743 14.8127 18.052 14.8896 18.0105C15.498 17.6721 15.3846 15.5031 15.3576 15.0531C15.3576 14.9685 15.3558 14.0829 15.0444 13.6581C14.8212 13.3503 14.4414 13.2333 14.211 13.1901C14.3043 13.0614 14.4271 12.9571 14.5692 12.8859C14.9868 12.6771 15.7392 12.6465 16.4862 12.6465H16.902C17.712 12.6573 17.9208 12.7095 18.2142 12.7833C18.8082 12.9255 18.8208 13.3089 18.7686 14.6211C18.7524 14.9937 18.7362 15.4149 18.7362 15.9117C18.7362 16.0197 18.7308 16.1349 18.7308 16.2573C18.7128 16.9251 18.6912 17.6829 19.1628 17.9943C19.2243 18.0329 19.2954 18.0534 19.368 18.0537C19.5318 18.0537 20.025 18.0537 21.3606 15.7623C21.7725 15.0247 22.1304 14.2583 22.4316 13.4691C22.4586 13.4223 22.5378 13.2783 22.6314 13.2225C22.7005 13.1873 22.7771 13.1694 22.8546 13.1703H26.0604C26.4096 13.1703 26.649 13.2225 26.694 13.3575C26.7732 13.5717 26.6796 14.2251 25.2162 16.2069L24.5628 17.0691C23.2362 18.8079 23.2362 18.8961 24.6456 20.2155Z" fill="white"/>
                            </svg>
                ul.header__list.enable-sm 
                    li.header__li 
                        a(href="#!").header__link Каталог
                    li.header__li 
                        a(href="#!").header__link Преимущества
                    li.header__li 
                        a(href="#!").header__link Отзывы
                    li.header__li 
                        a(href="#!").header__link О компании
                    li.header__li 
                        a(href="#!").header__link Контакты 