mixin mounting()
    .mounting#mounting   
        .mounting__body.container 
            h2.mounting__title Монтаж #[br] и установка
            p.mounting__desc Проверим и убедимся в правильной сборке: надежность, крепления, работоспособность отдельных элементов
            .mounting__content 
                .mounting__wrapper 
                    .mounting__img.mounting__img_sm 
                        img(src="@img/mounting-img-1.png", alt="" draggable="false")
                    .mounting__img.mounting__img_bg 
                        img(src="@img/mounting-img-2.png", alt="" draggable="false")
                .mounting__wrapper 
                    .mounting__img 
                        img(src="@img/mounting-img-3.png", alt="" draggable="false")
                .mounting__wrapper 
                    .mounting__img.mounting__img_sm 
                        img(src="@img/mounting-img-4.png", alt="" draggable="false")
                    .mounting__img.mounting__img_bg 
                        img(src="@img/mounting-img-5.png", alt="" draggable="false")