mixin options()
    .options#options   
        .options__figure.options__figure_1
        .options__figure.options__figure_2
        .options__figure.options__figure_3
        .options__figure.options__figure_4
        .options__body.container 
            h2.options__title Варианты беседок
            .options__wrapper 
                .options__content   
                    .options__left 
                        p.options__subtitle Рестораны и кафе
                        p.options__desc Прозрачные купольные беседки - это отличный способ увеличить количество мест для посадки, а также создать уютную атмосферу для романтических встреч или различных тематических вечеринок
                    .options__slider 
                        .options__swiper.swiper 
                            .options__swiper-wrapper.swiper-wrapper 
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-1.png", alt="" draggable="false")
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-1.png", alt="" draggable="false")
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-1.png", alt="" draggable="false")
                            .options__pagination.swiper-pagination 
                .options__content   
                    .options__left 
                        p.options__subtitle Домашняя беседка
                        p.options__desc Прозрачные купольные беседки - это отличный способ увеличить количество мест для посадки, а также создать уютную атмосферу для романтических встреч или различных тематических вечеринок
                    .options__slider 
                        .options__swiper.swiper 
                            .options__swiper-wrapper.swiper-wrapper 
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-2.png", alt="" draggable="false")
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-2.png", alt="" draggable="false")
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-2.png", alt="" draggable="false")
                            .options__pagination.swiper-pagination 
                .options__content   
                    .options__left 
                        p.options__subtitle Детская зона
                        p.options__desc Прозрачные купольные беседки - это отличный способ увеличить количество мест для посадки, а также создать уютную атмосферу для романтических встреч или различных тематических вечеринок
                    .options__slider 
                        .options__swiper.swiper 
                            .options__swiper-wrapper.swiper-wrapper 
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-3.png", alt="" draggable="false")
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-3.png", alt="" draggable="false")
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-3.png", alt="" draggable="false")
                            .options__pagination.swiper-pagination 
                .options__content   
                    .options__left 
                        p.options__subtitle Купол для бассейна
                        p.options__desc Прозрачные купольные беседки - это отличный способ увеличить количество мест для посадки, а также создать уютную атмосферу для романтических встреч или различных тематических вечеринок
                    .options__slider 
                        .options__swiper.swiper 
                            .options__swiper-wrapper.swiper-wrapper 
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-4.png", alt="" draggable="false")
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-4.png", alt="" draggable="false")
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-4.png", alt="" draggable="false")
                            .options__pagination.swiper-pagination 
                .options__content   
                    .options__left 
                        p.options__subtitle Зимняя беседка
                        p.options__desc Прозрачные купольные беседки - это отличный способ увеличить количество мест для посадки, а также создать уютную атмосферу для романтических встреч или различных тематических вечеринок
                    .options__slider 
                        .options__swiper.swiper 
                            .options__swiper-wrapper.swiper-wrapper 
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-5.png", alt="" draggable="false")
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-5.png", alt="" draggable="false")
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-5.png", alt="" draggable="false")
                            .options__pagination.swiper-pagination 
                .options__content   
                    .options__left 
                        p.options__subtitle Беседка на крыше
                        p.options__desc Прозрачные купольные беседки - это отличный способ увеличить количество мест для посадки, а также создать уютную атмосферу для романтических встреч или различных тематических вечеринок
                    .options__slider 
                        .options__swiper.swiper 
                            .options__swiper-wrapper.swiper-wrapper 
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-6.png", alt="" draggable="false")
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-6.png", alt="" draggable="false")
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-6.png", alt="" draggable="false")
                            .options__pagination.swiper-pagination 
                .options__content   
                    .options__left 
                        p.options__subtitle Глэмпинг
                        p.options__desc Прозрачные купольные беседки - это отличный способ увеличить количество мест для посадки, а также создать уютную атмосферу для романтических встреч или различных тематических вечеринок
                    .options__slider 
                        .options__swiper.swiper 
                            .options__swiper-wrapper.swiper-wrapper 
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-7.png", alt="" draggable="false")
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-7.png", alt="" draggable="false")
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-7.png", alt="" draggable="false")
                            .options__pagination.swiper-pagination 
                .options__content   
                    .options__left 
                        p.options__subtitle Для автомобиля
                        p.options__desc Прозрачные купольные беседки - это отличный способ увеличить количество мест для посадки, а также создать уютную атмосферу для романтических встреч или различных тематических вечеринок
                    .options__slider 
                        .options__swiper.swiper 
                            .options__swiper-wrapper.swiper-wrapper 
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-8.png", alt="" draggable="false")
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-8.png", alt="" draggable="false")
                                .options__slide.swiper-slide 
                                    .options__img   
                                        img(src="@img/options-8.png", alt="" draggable="false")
                            .options__pagination.swiper-pagination 