mixin reviews()
    .reviews
        .reviews__body.container 
            h2.reviews__title Отзывы клиентов
            .reviews__slider 
                .reviews__swiper.swiper 
                    .reviews__swiper-wrapper.swiper-wrapper 
                        .reviews__slide.swiper-slide 
                            .reviews__item 
                                .reviews__content 
                                    .reviews__top 
                                        .reviews__profile 
                                            .reviews__profile-img   
                                                img(src="@img/reviews-profile.png", alt="" draggable="false")
                                            .reviews__profile-info 
                                                p.reviews__name Рамиль, Уфа
                                                p.reviews__date 02 Июля 2023
                                        .reviews__rating 
                                            p.reviews__rating-p Оценка:
                                            p.reviews__rating-num 5.0
                                    p.reviews__desc ИГЛУ комплектуются высококачественным поликарбонатом, защищающим от ультрафиолетового излучения, поэтому Вам будет комфортно в любую погоду, включая дождь, ветер или яркое солнце. Купольные беседки ИГЛУ производства
                                    p.reviews__desc N защищены от коррозии и окисления благодаря анодированному покрытию алюминия и имеют срок службы,
                                    a(href="#!").reviews__link Читать полностью
                                .reviews__img 
                                    img(src="@img/reviews-img-1.png", alt="" draggable="false") 
                        .reviews__slide.swiper-slide 
                            .reviews__item 
                                .reviews__content 
                                    .reviews__top 
                                        .reviews__profile 
                                            .reviews__profile-img   
                                                img(src="@img/reviews-profile.png", alt="" draggable="false")
                                            .reviews__profile-info 
                                                p.reviews__name Антон, Москва
                                                p.reviews__date 02 Июля 2023
                                        .reviews__rating 
                                            p.reviews__rating-p Оценка:
                                            p.reviews__rating-num 5.0
                                    p.reviews__desc ИГЛУ комплектуются высококачественным поликарбонатом, защищающим от ультрафиолетового излучения, поэтому Вам будет комфортно в любую погоду, включая дождь, ветер или яркое солнце. Купольные беседки ИГЛУ производства
                                    p.reviews__desc N защищены от коррозии и окисления благодаря анодированному покрытию алюминия и имеют срок службы,
                                    a(href="#!").reviews__link Читать полностью
                                .reviews__img 
                                    img(src="@img/reviews-img-2.png", alt="" draggable="false") 
                    .reviews__buttons 
                        .reviews__btn-prev
                            img(src="@img/prev-btn.png", alt="" draggable="false")
                        .reviews__btn-next
                            img(src="@img/next-btn.png", alt="" draggable="false")