mixin services()
    .services 
        .services__body.container 
            h2.services__title Дополнительное оснащение и услуги
            .services__img.enable-sm 
                img(src="@img/services-img.png", alt="" draggable="false")
            .services__row 
                .services__arrow 
                    img(src="@img/arrow-down-left.svg", alt="" draggable="false")
                .services__arrow 
                    img(src="@img/arrow-down-right.svg", alt="" draggable="false")
            .services__content 
                .services__left     
                    .services__item.left1     
                        p.services__subtitle Люстра
                        p.services__p Хрусталь 6-10 ламп
                    .services__item.left2     
                        p.services__subtitle Гирлянда
                        p.services__p Уличного типа Belt-light
                    .services__item.left3     
                        p.services__subtitle Комплект электрики
                        p.services__p Розетки, выключатели проводка
                    .services__item.left4     
                        p.services__subtitle Гибкий неон
                        p.services__p Для эффектного освещения
                    .services__item.left5     
                        p.services__subtitle Деревянный подиум 
                        p.services__p Шестигранной формы на сваях
                .services__img.disable-sm 
                    img(src="@img/services-img.png", alt="" draggable="false")
                .services__right 
                    .services__item.right1     
                        p.services__subtitle Тонированные стены
                        p.services__p Светопропускаемость 50%
                    .services__item.right2     
                        p.services__subtitle Доставка и монтаж
                        p.services__p В радиусе 1200 км. от Москвы
                    .services__item.right3     
                        p.services__subtitle Шеф монтаж
                        p.services__p В регионах России
                    .services__item.right4     
                        p.services__subtitle Доставка
                        p.services__p В регионах России
                    .services__item.right5     
                        p.services__subtitle Дополнительный вход
                        p.services__p С щеточным уплотнением